# ============================================================================
# Flask 应用配置
# ============================================================================
FLASK_DEBUG=True
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
# JWT Access Token 签名密钥
SECRET_KEY=your_jwt_access_token_secret_key
# JWT Refresh Token 签名密钥
REFRESH_SECRET_KEY=your_jwt_refresh_token_secret_key

# ============================================================================
# 数据库（PostgreSQL）
# ============================================================================
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name

# ============================================================================
# 通义千问 LLM（代码生成核心）
# ============================================================================
# 默认模型（用于测试和作为默认值，本质上无关紧要可以不加）
DEFAULT_AND_TEST_MODEL_API_KEY=your_tongyi_api_key
DEFAULT_AND_TEST_MODEL_OPENAI_COMPATIBLE_BASE_URL=https://{WorkspaceId}.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
DEFAULT_AND_TEST_MODEL=qwen-plus
# 真正干活的
# 代码生成 LLM（此处演示的BASE_URL是三个MODEL共同的可访问URL，API_KEY也是三个MODEL的通用API_KEY）
MODEL_OPENAI_COMPATIBLE_BASE_URL=https://{WorkspaceId}.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
MODEL_API_KEY=your_tongyi_api_key
# qwen-flash --- 响应速度极快但是效果差，适合路由判断，可能都不会调用工具
# qwen-plus/qwen-max --- 响应速度慢但是效果好，适合生成代码
ROUTER_MODEL_OPENAI_COMPATIBLE=qwen-flash
CODE_GENERATOR_MODEL_EASY_OPENAI_COMPATIBLE=qwen3-max-preview
CODE_GENERATOR_MODEL_COMPLEX_OPENAI_COMPATIBLE=qwen-max
# 文生图 LLM （用于生成 LOGO 图）
TONGYI_DASHSCOPE_BASE_URL=https://{WorkspaceId}.cn-beijing.maas.aliyuncs.com/api/v1
TONGYI_IMAGE_GEN_MODEL=qwen-image-3.0
# TONGYI_IMAGE_MODEL=qwen-mt-image-2.0
TONGYI_IMAGE_GEN_API_KEY=your_tongyi_image_gen_api_key

# ============================================================================
# Pexels 图片搜索
# ============================================================================
PEXELS_API_KEY=your_pexels_api_key

# 盒子随机图配置（用于生成注册的用户头像，不重要）
HZI_DEV_ID=11111111
HZI_KEY=11111111

# ============================================================================
# 图床服务（用于上传截图、Logo、素材图等，获取图片URL），这里以本地部署的 easyimages 为例
# ============================================================================
IMAGE_BED_URL=http://easyimages:90/api/index.php
IMAGE_BED_TOKEN=your_image_bed_token

# ============================================================================
# 本地文件相关
# ============================================================================
# 本地 Nginx 路径
NGINX_PATH=D:\Nginx\nginx.exe
# 生成应用保存的目录
GENERATE_ROOT=D:\projects\code-generator-app\generated_apps
# 部署应用保存的目录
DEFAULT_ROOT=D:\projects\code-generator-app\generated_apps\deployed
# 截图临时保存目录
SCREENSHOT_DIR=D:\projects\code-generator-app\generated_apps\screenshots
# 日志目录
LOG_DIR=D:\projects\code-generator-app\backend\logs
